
  
  <div>
    <app-cust-dashboard></app-cust-dashboard>
  </div>
  
<section id="product">


  <div class="container">
      <div class="row">
              <div class="col-12">
                <div class="productHeading text-center">
                    <h2 class="mb-3">Welcome {{loggeduser.username}}</h2>
                    <br>
                    <h2 class="mb-3">The best books… are those that tell you what you know already</h2>
                    <a  class=" m-4  text-decoration-none  fw-semibold" (click)="getall()" [ngClass]="selectedCategory == book.category?'text-danger':'text-black'" >All</a><br><br>
                    <ul class="list-unstyled d-flex flex-md-row  justify-content-center ">
                        <li *ngFor="let book of books" (click)="getAllProductsByCateogry(book.category)" >
                            <a  class=" m-4  text-decoration-none  fw-semibold" [ngClass]="selectedCategory == book.category?'text-danger':'text-black'" >{{book.category}}</a>
                        </li>
                        
                    </ul>
                </div>
          </div>
          <div class="col-12">
              <div class="row mt-3">
                  <div class="col-lg-3 col-md-6 " *ngFor="let book of bookcat">
                      <div class="box-shadow">
                          <div class="card mt-2">
                            <img class="card-img-top" src="{{book.imgUrl}}" 
                                  class="card-img-top img-fluid" alt="..." height="300">
                              <div class="card-body">
                                  <h5 class="card-title">{{ book.title }}</h5>
                                  <p class="card-text"><span
                                          class="text-danger fw-semibold me-2">{{book.price | currency}}</span> 
                                       
                                  </p>
                                  <div class="card-body">
                                    <button type="button" class="btn btn-outline-dark" [routerLink]="['/book', book.bookId]">View Details</button>&nbsp;
                                    <button type="button" class="btn btn-outline-dark" (click)="addtocart(book.bookId)">Add to cart</button>
                                 
                              </div>
                         </div>
                      </div>
                  </div> 
              </div>
          </div>
      </div>


