
<section class="vh-100 bg-image"
style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

            <form #myform1="ngForm" (ngSubmit)="addvalidation(myform1)">
               
              <label class="form-label" for="form3Example1cg">User Name</label> <br>
              <span *ngIf="myEmail.invalid && myEmail.touched" class="text-danger">Username should be more than 3 characters</span>    
              <input type="email" class="form-control form-control-lg" name="Email1" id="Email" minlength="3" ngModel required #myEmail="ngModel">
              <br>
              <label class="form-label" for="form3Example4cg">Password</label> <br>
              <span *ngIf="myPassword.invalid && myPassword.touched" class="text-danger">Password should be more than 2 characters</span>
              <input type="password" class="form-control form-control-lg" name="Password1" id="Password" minlength="3" ngModel required #myPassword="ngModel" >
                 <br>
              <label class="form-label" for="form3Example1cg">Mobile number</label> <br>
              <span *ngIf="mynumber.invalid && mynumber.touched" class="text-danger">Please enter valid number</span>
              <input type="email" class="form-control form-control-lg" name="number" id="number" minlength="10" maxlength="10" pattern="[0-9]+" ngModel required #mynumber="ngModel">
              <br>
                <button type="submit" class="btn btn-success" [disabled]="myform1.invalid" style="margin-left: 44%;"  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Submit</button>
              <br>
              
              <p class="text-center text-muted mt-5 mb-0">Already have an account? 
                <a class="fw-bold text-body" (click)="backlogin()"><u>login here</u></a></p>
              
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>