
<div>
    <app-admin-dashboard></app-admin-dashboard>
  </div>
<div class="container">
    <form #myForm="ngForm" (ngSubmit)="addBook(myForm)">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h3>Add Book</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="BookName" class="form-label">Book Name</label>
                   <input type="text" class="form-control" id="BookName" name="BookName" 
                           ngModel required #myBookName="ngModel">   
                           <div class="text-danger" 
                           *ngIf="myBookName.errors?.['re ed'] && myBookName.touched">
                        Book name is required
                      </div>            
                </div>
                <div class="form-group">
                    <label for="AuthorName" class="form-label">Author</label>
                   <input type="text" class="form-control" id="AuthorName" name="Author" 
                           ngModel required #myBookName="ngModel">   
                           <div class="text-danger" 
                           *ngIf="myBookName.errors?.['re ed'] && myBookName.touched">
                        Author name is required
                </div>   
            </div>
                <div class="form-group">
                    <label for="BookName" class="form-label">Description</label>
                   <input type="textbox" class="form-control" id="BookName" name="Description" 
                           ngModel required #myBookName="ngModel">   
                           <div class="text-danger" 
                           *ngIf="myBookName.errors?.['re ed'] && myBookName.touched">
                        Description is required
                </div>   
            </div>
        
        <div class="form-group">
            <label for="BookName" class="form-label">Image URL</label>
           <input type="textbox" class="form-control" id="BookName" name="imgurl" 
                   ngModel required #myBookName="ngModel">   
                   <div class="text-danger" 
                   *ngIf="myBookName.errors?.['re ed'] && myBookName.touched">
                Image url is required
        </div>   
    </div>
                <div class="form-group">
                    <label for="price" class="form-label">Book Price</label>
                    <input type="text" 
                           class="form-control" 
                           id="price" 
                           name="price" 
                           ngModel
                           required
                           #myprice="ngModel">
                           <div class="text-danger" *ngIf="!myprice.valid && myprice.touched">
                             Please enter Book Price
                          </div>
                          <div class="text-danger" *ngIf="myprice.pristine">
                            Value has not been changed
                          </div>
                </div>
                <div class="form-group">
                    <label for="BookCat" class="form-label">Book category</label>
                    <input type="text" class="form-control" id="BookCat" name="BookCat"
                    ngModel required
                    #myCategory="ngModel">
                    <div class="text-danger" *ngIf="!myCategory.valid && myCategory.touched">
                      Please enter Book Category
                   </div>
                </div>
               
            </div>
            <div class="card-footer bg-dark text-white">
                <button type="submit" class="btn btn-light" [disabled]="myForm.invalid" >Add Book</button>
            </div>
        </div>

    </form>
</div>

